<html>
	<head>
            <title>contacts who've faved{% if page_title %}{{ page_title|escape }}{% endif %}</title>

{% if browser.mobile %}
            <link rel="stylesheet" href="/css/mobile.css" type="text/css" />
{% else %}
            <link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endif %}

{% if browser.ipad %}
            <link rel="stylesheet" href="/css/ipad.css" type="text/css" />
{% endif %}

{% if user.username %}
            <meta http-equiv="Pragma" content="no-cache">
            <meta http-equiv="Cache-Control" content="no-cache">
            <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
	    <meta http-equiv="refresh" content="{{ refresh|escape }}" />
{% endif %}

{% if browser.iphone %}
            <!-- <meta name="viewport" content="width=device-width" /> -->
{% endif %}

	    <meta content='width=device-width,maximum-scale=1.0,initial-scale=1.0,user-scalable=0' name='viewport'>
	    <!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->

        </head>
        <body>

            <div id="whoami">
{% if browser.mobile %}
	<strong>cwf</strong>{% if user.username %} / {{ user.username|escape }} / <a href="/signout">signout</a>{% endif %}
{% else %}
            {% if user.username %}
                You are logged in with your <a href="http://www.flickr.com/photos/{% ifequal user.path_alias "" %}{{ user.nsid|escape }}{% else %}{{ user.path_alias|escape }}{% endifequal %}/" class="fl_username">{{ user.username|escape }}</a> Flickr account

                <form method="POST" action="/signout" id="signout">
                  <input type="hidden" name="crumb" value="{{ logout_crumb|escape }}" />
                  <input type="submit" value="sign out" />
                </form>

            {% else %}

                <span style="margin-right:20px;">make it so &rarr;</span>

                <form method="GET" action="/signin" id="signin">
                  <input type="hidden" name="crumb" value="{{ login_crumb|escape }}" />
                  <input type="submit" value="sign in" />
                </form>
            {% endif %}
{% endif %}
            </div>
            <br clear="all" />

            <div id="main">
